$input-btn-padding-x: 1rem;
$input-btn-padding-y: 1.4rem;
$btn-border-radius: 0rem;
$btn-border-radius-sm: 0rem;

.btn {
    border-radius: 0.125rem;
    font-weight: bold;
    border-inline: 0 !important;

    &.btn-primary:active {
        background-color: color-mix(in srgb, $accent 100%, rgb(0, 0, 0) 42%);
        border-bottom: 0.25rem solid
            color-mix(in srgb, $accent-shadow 100%, rgb(0, 0, 0) 50%);
        color: white !important;
    }
}
.btn-primary {
    font-weight: bold;
    border-bottom: 0.25rem solid $accent-shadow;
    border-top: 0.25rem solid $accent-highlight;
    padding: 0.75rem 1rem;

    color: white;

    &:hover {
        background-color: color-mix(in srgb, $accent 100%, rgb(0, 0, 0) 20%);
        border-top: 0.25rem solid
            color-mix(in srgb, $accent-highlight 100%, rgb(0, 0, 0) 10%);
        border-bottom: 0.25rem solid
            color-mix(in srgb, $accent-shadow 100%, rgb(0, 0, 0) 20%);
        color: white;

        &:active {
            background-color: color-mix(
                in srgb,
                $accent 100%,
                rgb(0, 0, 0) 42%
            );
            border-top: 0.25rem solid
                color-mix(in srgb, $accent 100%, rgb(0, 0, 0) 2%);
            border-bottom: 0.25rem solid
                color-mix(in srgb, $accent-shadow 100%, rgb(0, 0, 0) 50%);
            color: white;
        }
    }
}

.btn-download {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    color: white !important;
}

.btn-outline-primary {
    font-weight: bold;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
