$black-dark: #1e1d1f;
$black: #29282a;
$black-light: #353336;
$black-lighter: #434343;
$color-bright: #f0e1e1;
$white: #fff;
$accent: #5aa938;
$accent-shadow: #376921;
$accent-active: #478a2b;
$accent-highlight: #86c553;

$theme-colors: (
    "primary": $accent,
    "danger": #ff4136,
);
