{{ define "main" }}
    <div class="row">
        <div class="col-lg-8 mb-3">
            {{ .Content }}
        </div>
        <div class="col-lg-4">
            {{- partial "latest-homepage.html" -}}
            <h2 class="mt-0 pb-1">What's happening?</h2>
            <div>
                {{ range ( where .Site.RegularPages "Type" "article" | first 3 ) }}
                    <div class="d-flex mb-2">
                        {{ with .Resources.GetMatch "feature.png" }}
                            <img src="{{ .RelPermalink }}" class="post-thumb" />
                        {{ end }}
                        <div>
                            <div class="d-flex justify-content-between">
                                {{- partial "metadata.html" . -}}
                            </div>
                            <div class="d-flex justify-content-between">
                                <h5>{{ .Title }}</h5>
                            </div>
                            <a href="{{ .RelPermalink }}">
                                <div class="mb-3">Read More »</div>
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
            <hr />
            <h2 class="pb-1">Tip of the Day!</h2>
            <div>
                <video
                    id="thaboar-video"
                    width="100%"
                    height="100%"
                    loop
                    autoplay="autoplay"
                ></video>
                <div style="color: gray;" class="metadata">
                    Art by <a href="https://twitter.com/thaboarr">@thaboarr</a>
                </div>
            </div>
        </div>
        {{ $opts := dict "targetPath" "index.js" }}
        {{ $built := resources.Get "js/index.js" | js.Build $opts }}

    </div>
    <script src="{{ $built.RelPermalink }}"></script>
{{ end }}
